<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <div class="b2"> <nav><a href="/">Регистрация</a> | <a href="/contact">Оставить вопрос</a>| <a href="/message">Все вопросы</a></nav>
    <meta charset="utf-8">
    <style>
      button{
          width: 300px;
          height: 50px;
          font-size: 28px;         
          border-radius: 10px;            
      }
      .b2{
          margin-top: 15px;
          width: 600px;
      }
       a{
           background-color: blanchedalmond;
          text-decoration:none;
          border-radius: 10px;
      }
      nav{
          margin: auto;             
      }
   
      form{
          margin-left: 100px;
      }
      input{
          width: 200px;
          height: 30px;         
          font-size: 15px;
          border: 3px solid black;
      }
      body { 
          font-size: 28px;
          width: 600px;
          margin: auto; /* Убираем отступы */
          background-color: grey;
      }
  </style>
    <title>Авторизация</title>
  </head>
  <body>
  <h3>Авторизация</h3>
  
      Здравствй, <%= result[0].NameUserReg %>!. Спасибо за авторизацию.
     

  </div>
  </form>


  </body>
</html>
